#containercontent {
  background-color: #2d2d2d;
}

#header {
  text-align: center;
  text-decoration: overline;
  text-shadow: 4px 4px #248c6b;
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #2d2d2d;
}

#headerimage {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 700px) {

}

@media screen and (max-width: 550px) and (min-width: 200px) {
  #header {
    font-size: small;
  }
}
